@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

:root {
    --blue: #35879a;
    --light-blue: #42a8c0;
    --dark-blue: #001e6f;
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}
