@media print {
    @page {
        margin: 1rem;
        border: 1px solid black;
    }

    body {
        /* Tell browsers to print background colors */
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    a[href^="https://"]::after
    {
        direction: ltr;
        display: inline-block;
        margin: 0 0.25rem;
        content: "[" attr(href) "]";
    }

    #sidebar {
        flex-direction: row;
    }

    #sidebar-profile {
        width: 300px;
    }

    #sidebar-content {
        flex-grow: 1;
    }
}
